
.anchor-pill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: var(--w-full);
  padding: 0 var(--space-lg);
  border-radius: var(--radius-pill);
  /* Make the background exactly the same as the darker border! */
  background-color: var(--color-primary-dark); 
  color: white;
  text-decoration: none;
}
.anchor-pill:hover {
  background-color: var(--color-primary);
}