.products-container {
  display: flex;
  flex-direction: row;
  gap: var(--space-lg);
}

.products-container section {
  flex: 50 50 auto;
  border: 1px solid var(--border-color);
  padding: var(--space-md);
  border-radius: var(--radius-sm);
}

.search-section {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
