.product-category {
  overflow: auto;
  width: 100%;
  white-space: nowrap;
}


.product-category-list {
  display: flex;
  padding: 0;
  flex-wrap: nowrap;
  gap: 1%;
}

.product-category-list li {
  list-style: none;
}